<h1>Parent Dashboard</h1>

<a href="/parent/children/new">➕ Add Child</a>
<hr>

{{#each children}}
  <div>
    <strong>{{firstName}} {{lastName}}</strong>
    (Grade {{grade}})
    <a href="/org/cripfcnt-home/dashboard">View Quizzes</a>
  </div>
{{else}}
  <p>No children yet.</p>
{{/each}}
